@media only screen and (max-width: 500px) {
    body {
        background-color: tomato;
    }
}

ul {
  margin: 0;
}

/*-------------------- HEADER --------------------*/

.header {
  border: 1px solid #000;
  display: flex;
  width: 100%;
}

.headerDivLogo {
  width: 100%;
}

.headerImg {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerDivLogo h3 {
  margin: 0;
  font-size: 20px;
  width: 40%;
  display: flex;
  align-items: center;
  color: #20A4F3;
}

.headerDivGoal{
  margin: 0;
  width: 30%;
  background-color: rgba(0,0,0,0.8);
}

.headerDivGoal h3:first-child{
  margin: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
}

.headerDivGoal h3:nth-child(2n+0){
  font-size: 40px;
  margin: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerDivNow{
  margin: 0;
  width: 30%;
  background-color: rgba(0,0,0,0.8);
}

.headerDivNow h3:first-child{
  border-left: 1px solid #000;
  margin: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
}

.headerDivNow h3:nth-child(2n+0){
  border-left: 1px solid #000;
  margin: 0;
  font-size: 40px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.totalCaloriesDisplayClass{
  color: #5BBA6F;
  font-family: 'Orbitron', sans-serif;
}

/*-------------------- START --------------------*/

.imageBox {
  background-image:  url("IMG/fruit-circle3.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  height: 574px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startTitle{
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  font-size: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
}

#startButtonId {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 50px;
  width: 125px;
}

/*-------------------- Step 1 --------------------*/

.inputsCalories{
  width: 75%;
  margin: auto;
}

.stepMainInfo{
  width: 100%;
  margin: auto;
  height: 450px;
}

.bodyBackground{
  margin-top: 2%;
  background-color: rgba(0,0,0,0.4);
  height: 350px;
}

.stepHeader h2{
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  padding: 20px;
}

.stepArrows{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
}

.arrow{
  border: 1px solid #000;
  width: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowP{
  cursor: pointer;
}

.stepArrows li:hover{
  border: 3px solid #20A4F3;
}

.stepArrows li:hover .fa-arrow-left{
  color: #20A4F3
}

.stepArrows li:hover .fa-arrow-right{
 color: #20A4F3
}

.stepTitle{
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.stepMainQuestions{
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepMainQuestionsOut{
  display: flex;
  justify-content: center;
  align-items: center;
}

.goalInline{
  display: flex;
  justify-content: center;
}

/*.genderIconDiv{
  display: flex;
  justify-content: center;
}*/

.genderIcons{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.genderIconsLiClass{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  /*padding: 2%;*/
  margin-left: 100px;
  margin-right: 100px;
}

.genderIconTopLiMale{
  margin-bottom: 20px;
}

.genderIconTopLiFemale{
  margin-bottom: 20px;
}

.genderLabel {
  margin-left: 10px;
}

.fontSizeBox{
  font-size: 24px;
}

.weightBox{
  margin-left: 38px;
}

.heightBox{
  margin-left: 7px;
}

.ageBox {
  margin-left: 125px;
}

.step1Gender {
  width: 100%;
}

.step1Info {
  width: 100%;
}

.step1Active {
  width: 100%;
}

.step1Goal {
  width: 100%;
}

.goalSubmitButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

/*-------------------- Step 2 --------------------*/

.inputsSearch{
  width: 75%;
  margin: auto;
}

.stepMainInfo{
  width: 100%;
  margin: auto;
  height: 450px;
}

.step2Search{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.searchBarClass{
  height: 37px;
  width: 200px;
}

#submitButtonStep2{
  margin-left: 10px;
}

#foodButtonFinish{
  color: #fff;
}

.totalCaloriesTitle{
  font-size: 30px;
  padding-top: 10px;
}

.totalCalories {
  border:1px solid #000;
}

.resultsListClass li:nth-child(even){
  background: #CCC;
}

.userListClass li:nth-child(even){
  background: #CCC;
}

.resultsListClass{
  width: 75%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.userListClass{
  border: 1px solid #000;
  height: 200px;
  width: 75%;
  padding-top: 10px;
  margin: auto;
}

/*-------------------- Step 3 --------------------*/

.mainDisplayChart{
  display: flex;
  width: 75%;
  margin: auto;
}

.resultsDisplay{
  border: 1px solid #000;
  width: 100%;
}

.tableResults{
  width: 100%;
  height: 400px;
  font-size: 24px;
}

thead {
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}

.headTr {
  height: 50px;
  text-align: center;
}

td {
  text-align: center;
}

.foodClass{
  background-color: #ccc;
}

.chart{
  padding: 9%;
}

.noText {
  color: red;
}

.no {
  background-color: #FE938C;
  border: 1px solid red;
}

.yes {
  background-color: #C7EFCF;
  border: 1px solid green;
}
